body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif !important;
}
.cover {
  width: 100vw;
}

.cards {
  width: 100%;
  /* max-width: 1920px; */
}

.form {
  max-width: 100%;
}

nav {
  display: flex;
  height: 77px;
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  width: 100%;
  transition: all 0.3s ease-in;
  z-index: 100;
}

.nav-content {
  display: flex;
  width: 95%;
  justify-content: center;
  color: white;
  margin: auto;
}

/* .brand a {
  padding: 10px;
  text-decoration: none;
  color: white;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  border: 1px solid white;
  user-select: none;
  cursor: pointer;
} */

.nav-items {
  list-style: none;
  display: flex;
  margin: auto 0 auto auto;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 1.2rem;
  margin: 0 10px;
}

.nav-item:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
