body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  user-select: none;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

.cards {
  width: 100%;
  /* max-width: 1920px; */
}

.form {
  max-width: 100%;
}

/* nav {
  display: flex;
  height: 77px;
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  width: 100%;
  transition: all 0.3s ease-in;
  z-index: 100;
} */

.nav-content {
  display: flex;
  width: 95%;
  justify-content: center;
  color: white;
  margin: auto;
}

.modal {
  z-index: 99999;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  perspective: 1000px;
}

/* Modal Content */
.modal-content {
  margin: auto;
  border: 1px solid #888;
  scrollbar-color: #302c2c;
  scrollbar-width: 10px;
  scrollbar-track-color: black;
  transform-style: preserve-3d;
  animation: flipIn 0.5s ease;
  -webkit-animation: flipIn 0.5s ease;
}

.flipOut {
  animation: flipOut 0.5s ease;
  -webkit-animation: flipOut 0.5s ease;
}

@keyframes flipIn {
  from {
    transform: rotateY(-20deg);
    opacity: 0;
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
  }
  to {
    transform: rotateX(0);
    opacity: 1;
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
  }
}

@keyframes flipOut {
  from {
    transform: rotateY(0deg);
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-20deg);
    opacity: 0;
    -webkit-transform: rotateY(-20deg);
    -moz-transform: rotateY(-20deg);
    -ms-transform: rotateY(-20deg);
    -o-transform: rotateY(-20deg);
  }
}

.modal-content::-webkit-scrollbar {
  width: 16px;
}

.modal-content::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #302c2c;
  border-radius: 100px;
}

/* .brand a {
  padding: 10px;
  text-decoration: none;
  color: white;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  border: 1px solid white;
  user-select: none;
  cursor: pointer;
} */

.nav-items {
  list-style: none;
  display: flex;
  margin: auto 0 auto auto;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 1.2rem;
  margin: 0 10px;
}

.nav-item:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
