body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

.cards {
  width: 100%;
  display: flex;
  margin-bottom: auto;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
}

#input_form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#input_form button {
  padding: 2px 5px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.7px;
  color: #2196f3;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#input_form button:hover {
  background-color: #2196f3;
  color: white;
}

#name {
  padding: 5px 8px;
  width: 50%;
  margin: 0 10px;
}
