/* background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);

background: #232526;
background: -webkit-linear-gradient(to right, #414345, #232526);
background: linear-gradient(to right, #414345, #232526); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_outer {
  position: relative;
  margin: 10px;
  overflow: hidden;
  width: 250px;
  height: 370px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card_content_cover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: 0;
  padding: 5px;
}

.card_content {
  color: white;
  position: absolute;
  height: 35%;
  padding: 5px;
  width: 100%;
  bottom: 0;
}

.card_outer .card_content h1 {
  /* margin-top: 15px; */
  font-size: 1.3rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  font-family: "Kanit", sans-serif;
  /* color: black; */
  mix-blend-mode: hard-light;
}

.card_content .genre p {
  word-spacing: 3px;
  margin-right: 4px;
  letter-spacing: 0.2px;
  font-family: "Commissioner", sans-serif;
}

.genre {
  display: flex;
  width: 100%;
}

.genre p {
  /* width: fit-content; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card_details {
  display: flex;
  padding: 10px 0;
  flex-direction: row-reverse;
}

.card_rating {
  justify-content: center;
  align-items: center;
  width: 20%;
  display: flex;
  font-size: 1rem;
  font-weight: 100;
}

.card_rating i {
  margin-left: 3px;
  font-size: 0.8rem;
}

#delete {
  width: 90%;
  background-color: red;
  outline: none;
  border: none;
  margin: 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  padding: 5px 3px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
