/* background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);

background: #232526;
background: -webkit-linear-gradient(to right, #414345, #232526);
background: linear-gradient(to right, #414345, #232526); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_outer {
  position: relative;
  user-select: none;
  overflow: hidden;
  /* overflow-x: auto; */
  width: 300px;
  height: 420px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card_outer:hover {
  box-shadow: rgb(255 255 255 / 48%) 2px 6px 21px;
}

.card_content_cover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: 0;
  padding: 5px;
  z-index: -1;
}

.card_content {
  color: white;
  padding: 5px 10px;
  width: 100%;
}

.card_outer .card_content h1 {
  /* margin-top: 15px; */
  font-size: 1.3rem;
  width: 100%;
  /* white-space: nowrap;
  overflow: hidden; */
  display: block;
  text-overflow: ellipsis;
  /* font-family: "Kanit", sans-serif; */
  /* color: black; */
  mix-blend-mode: hard-light;
}

.card_content .genre p {
  letter-spacing: 0.2px;
  /* font-family: "Commissioner", sans-serif; */
  white-space: nowrap;
}

.genre {
  display: flex;
  overflow-x: auto;
  width: 100%;
  cursor: pointer;
  scrollbar-width: none;
}

.genre::-webkit-scrollbar {
  /* width: 0;
  height: 0; */
  display: none;
}

.genre::-moz-scrollbar {
  width: 0;
  height: 0;
}
*/ .genre_item {
  /* width: fit-content; */
  /* overflow: hidden;
  text-overflow: ellipsis; */
  white-space: nowrap;
}

.card_details {
  display: flex;
  width: 100%;
  font-size: 0.9rem;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
}

.card_rating {
  justify-content: center;
  align-items: center;
  width: 20%;
  display: flex;
  /* font-size: 1rem; */
  font-weight: 100;
}

.card_rating i {
  margin-left: 3px;
  /* font-size: 0.8rem; */
}

/* #delete {
  width: 90%;
  background-color: red;
  outline: none;
  border: none;
  margin: 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  padding: 5px 3px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
} */
